<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vtpa_b2013518_lvtn"
        tools:targetApi="31">
        <activity
            android:name=".dentist.DentistMedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDentistAssignmentEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDentistAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".dentist.DentistAppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".dentist.DentistAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUserEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDentistEditActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAuthActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDentistActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".dentist.Dentist_Update_InfoActivity"
            android:exported="false" />
        <activity
            android:name=".dentist.DentistIndexActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminCancelAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminConfAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_Update_InfoActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDat_KhamActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminIndexActivity"
            android:exported="false" />
        <activity
            android:name=".users.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.Tao_Lich_KhamActivity"
            android:exported="false" />
        <activity
            android:name=".users.IndexUserActivity"
            android:exported="false" />
        <activity
            android:name=".dentist.DentistActivity"
            android:exported="false" />
        <activity
            android:name=".users.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.Dat_KhamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Tay_RangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Phuc_HinhActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Cao_VoiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Nho_RangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Chua_TuyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Tram_RangActivity"
            android:exported="false" />
        <activity
            android:name=".login.ResetPWActivity"
            android:exported="false" />
        <activity
            android:name=".login.FPassWordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IndexActivity"
            android:exported="false" />
        <activity
            android:name=".login.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJe3qZ9fN6Qku7_g1psXa73OGm9HVw2mY" />
    </application>

</manifest>